<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>{{ question.title }}</p>
    <p>{{ question.body|safe }}</p>
    
    <form action="{% url "add_answer" question.pk %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add answer</button>
    </form>

    {% for answer in answers  %}
        <p>{{ answer.user }}</p>
        <p>{{ answer.answer }}</p>
        <p>{{ answer.created_at }}</p>
    {% endfor %}


</body>

</html>