<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profile</h1>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.image %}
        <div>
            <img src="{{ user.image.url }}" alt="" style="height: 70px; width: 70px; border-radius: 50%;">
            <input type="file" id="id_image" name="image" accept="image/*">
            {% if form.image.errors %}
            {{ form.image.errors }}
            {% endif %}
        </div>
        {% endif %}
        <div>
            <label for="id_first_name">Имя:</label>
            <input type="text" id="id_first_name" name="first_name" value="{{ form.first_name.value }}" required>
        </div>
        <div>
            <label for="id_last_name">Фамилия:</label>
            <input type="text" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" required>
        </div>
        <div>
            <label for="id_username">Имя пользователь:</label>
            <input type="text" id="id_username" name="username" value="{{ form.username.value }}" required>
        </div>
        <div>
            <label for="id_email">Почта:</label>
            <input type="text" id="id_email" name="email" value="{{ form.email.value }}" required>
        </div>
        <div>
            <label for="id_link">Ссылка на вашу социальную сеть:</label>
            <input type="text" id="id_link" name="link" value="{{ form.link.value }}" required>
        </div>
        <button type="submit">Сохранить</button>
    </form>
</body>

</html>